[submodule "third_party/deviceapi"]
	path = third_party/deviceapi
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/deviceapi
	shallow = true
[submodule "binding_generator"]
	path = binding_generator
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/binding_generator
[submodule "third_party/escargot"]
	path = third_party/escargot
	url = https://github.com/Samsung/escargot.git
	ignore = untracked
[submodule "third_party/MP4Parse"]
	path = third_party/MP4Parse
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/MP4Parse
	shallow = true
[submodule "third_party/clipper"]
	path = third_party/clipper
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/clipper
	shallow = true
[submodule "third_party/rapidxml"]
	path = third_party/rapidxml
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/rapidxml
	shallow = true
[submodule "third_party/skia_matrix"]
	path = third_party/skia_matrix
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/skia_matrix
	shallow = true
[submodule "third_party/webm"]
	path = third_party/webm
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/webm
	shallow = true
[submodule "tool/gyp"]
	path = tool/gyp
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/tool/gyp
	shallow = true
[submodule "third_party/libtuv"]
	path = third_party/libtuv
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/libtuv
	shallow = true
[submodule "third_party/earcut.hpp"]
	path = third_party/earcut.hpp
	url = https://github.com/Samsung/starfish-submodules.git
	ignore = untracked
	branch = modules/third_party/earcut.hpp
	shallow = true
[submodule "test"]
	path = test
	url = git@github.sec.samsung.net:lws-test/web_tc_new.git
	ignore = dirty
[submodule "third_party/nanomsg"]
	path = third_party/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
	ignore = untracked
[submodule "third_party/nanomsgcpp"]
	path = third_party/nanomsgcpp
	url = https://github.com/nanomsg/cppnanomsg.git
	ignore = untracked
[submodule "third_party/httplib"]
	path = third_party/httplib
	url = https://github.com/yhirose/cpp-httplib.git
	ignore = untracked
[submodule "third_party/webrtc"]
	path = third_party/webrtc
	url = https://github.com/Samsung/starfish-submodules.git
	branch = modules/third_party/webrtc
	shallow = true
[submodule "third_party/libwebsockets"]
	path = third_party/libwebsockets
	url = https://github.com/Samsung/starfish-submodules.git
	branch = modules/third_party/libwebsockets
	shallow = true
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/Samsung/starfish-submodules.git
	branch = modules/third_party/openssl
	shallow = true
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = https://github.com/Samsung/starfish-submodules.git
	branch = modules/third_party/libjpeg-turbo
	shallow = true
[submodule "third_party/giflib"]
	path = third_party/giflib
	url = https://github.com/Samsung/starfish-submodules.git
	branch = modules/third_party/giflib
	shallow = true
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/Samsung/starfish-submodules.git
	branch = modules/third_party/libpng
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://github.com/Samsung/starfish-submodules.git
	branch = modules/third_party/libwebp
	shallow = true
[submodule "third_party/wpt"]
	path = third_party/wpt
	url = https://github.com/web-platform-tests/wpt.git
	ignore = dirty
	shallow = true
[submodule "third_party/webgl"]
	path = third_party/webgl
	url = https://github.com/KhronosGroup/WebGL.git
	ignore = dirty
	shallow = true
